.github/**
.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/.vscode-test.*

src/**
scripts/**
esbuild.js
**/tsconfig.json
**/eslint.config.mjs

out/**
node_modules/**
**/*.map
**/*.ts
*.vsix

docs/*.md